registry=https://msazure.pkgs.visualstudio.com/_packaging/AzurePortal/npm/registry/
//msazure.pkgs.visualstudio.com/_packaging/AzurePortal/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//msazure.pkgs.visualstudio.com/_packaging/AzurePortal/npm/registry/:_password=N3RkcXVzeWhhcmR0aTYza2VlNzZxeGZ5ZmRycHlrcXRiNGo1ZGd3bHVzdmw1djZhdTRyYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//msazure.pkgs.visualstudio.com/_packaging/AzurePortal/npm/registry/:email=not-used@example.com
